/* Reset */
html {
    box-sizing: border-box;
    min-height: 100%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

p {
    line-height: 1.4;
}

li {
    font-size: 1.2em;
}

/* Fonts */

/*  

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, summary {
    font-family: 'Playfair Display', serif;
}

/* Variables */
:root {
    --blue-dark: #275c96;
    --blue-medium: #3971cb;
    --blue-light: #e1efff;
    --orange: #f66b1d;
    --white: #ffffff;
    --black: #484b4e;
    --aqua: #03aadf;
    --green: #6cbf59;
    --grey-light: #dcdcdc;
    --grey-medium: #808080;
    --udl-green: #28a142;
    --udl-purple: #6d4f97;
    --udl-blue: #169ddd;
    --udl-grey: #f2eeed;
    --change-orange: #f66b1d;
    --change-blue-light: #03aade;
    --change-pink: #ff00a8;
    --change-green: #6cbf59;
    --change-blue-dark: #2b3a67;
    --change-burgundy: #74121d;
    --change-brown: #35281d;
    --header-height: 4.349375em;
}

/* HTML */
html {
    scroll-behavior: smooth;
}
  
/* Container */
.container {
    max-width: 85.375em;
    margin: 0 auto;
    padding: 1.5em;
}

/* Section */
section {
    scroll-margin-top: calc(var(--header-height) - 0.0625em);
}

@media (min-width: 60em) {
    section:not(.intro) p,
    .interested a,
    .references li,
    .credits li {
        font-size: 1.2em;
    }
}
  
/* Header */
header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--white);
}

header h1 {
    margin: 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    /* border: 3px solid red; */
}

/* Hamburger */
.hamburger {
    position: relative;
    top: 0.25em;
}


/* Nav */
.bottom-header {
    background-color: var(--white);
    top: var(--header-height);
    height: 100%;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    position: fixed;
    z-index: 9999;
    transition: transform 0.3s ease;
}

.show-menu .bottom-header {
    transform: translate(17%);
    transition-duration: 0.3s;
}

.bottom-header.no-transition {
    transition-duration: 0s;
}

.bottom-header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-header nav a {
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    display: block;
    line-height: 2.3em;
    padding: 0 1.25em 0 1.25em;
}

.bottom-header nav .sub-section-link {
    text-indent: 1em;
    /* font-size: 0.9em; */
    color: var(--blue-dark);
}

.bottom-header nav .sub-sub-section-link {
    text-indent: 2em;
    font-style: italic;
    color: var(--orange);
}

.bottom-header nav a:focus,
.bottom-header nav a:hover,
.bottom-header nav a:active {
    background-color: rgba(0, 0, 0, 0.035);
}

@media (min-width: 85.375em) {

    header .container {
        position: relative;
        z-index: 9999;
    }

    .bottom-header {
        background-color: var(--white);
        top: var(--header-height);
        height: 0;
        left: initial;
        right: 0;
        width: 15em;
        transform: initial;
        position: absolute;
        z-index: 9999;
        transition: height 0.3s ease;
        overflow: hidden;
        text-align: right;
    }

    .show-menu .bottom-header {
        transform: initial;
        height: 38em;
    }

    .bottom-header nav a {
        color: var(--black);
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1em;
        display: block;
        line-height: 2.3em;
        padding: 0 1.25em 0 1.25em;
        text-align: left;
    }
    
    

}

/* Intro section */
.intro {
    background-color: var(--blue-light);
    color: var(--blue-dark);
    margin-top: var(--header-height);
}

.intro .container {
    padding-top: 1.25em;
}

.intro .heading-container {
    margin-bottom: 2.5em;
}

.intro .mega-heading {
    font-size: 6em;
    margin: 0;
    line-height: 1;
}

.intro h2 {
    font-weight: 500;
    font-size: 1.7em;
    margin-left: 0.5em;
    margin: 0.25em 0 0 0.5em;
}

.intro .image-container {
    padding: 0 6em;
}

@media (min-width: 30em) {
    .intro .mega-heading {
        font-size: 7em;
    }
}

@media (min-width: 37.5em){

    .intro .mega-heading {
        font-size: 9em;
    }
    
    .intro h2 {
        font-size: 2.3em;
    }

    .intro .image-container {
        padding: 0;
        width: 22.4375em;
        margin: 0 auto;
    }
}

@media (min-width: 60em){

    .intro .content-container {
        display: flex;
        gap: 3em;
        padding: 4em 2em;
        justify-content: center;
    }

    .intro .mega-heading {
        font-size: 7em;
    }
    
    .intro h2 {
        font-size: 1.7em;
    }

    .intro .image-container {
        padding: 0 1em;
        width: initial;
        margin: 0 auto;
    }
}

@media (min-width: 66.25em) {

    .intro .content-container {

        padding: 6em 2em;
        justify-content: center;
    }

    .intro .mega-heading {
        font-size: 9em;
    }
    
    .intro h2 {
        font-size: 2.3em;
    }

}

.apa-title {
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
}

.apa-title p {
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 1.7;
}

.apa-title p:last-child {
    margin-bottom: 0;
}

@media (min-width: 30em) {
    .apa-title p {
        font-size: 0.8em;
    }
}

@media (min-width: 60em) {
    
    .apa-title p {
        font-size: 1em;
    }

}

/* Change is Challenging */
.change-is-challenging {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.change-is-challenging .image-container {
    max-width: 18.75em;
    margin: 0.75em auto 1em;
}

.change-is-challenging .image-container img {
    display: block;
    margin: 0 auto;
}

.change-is-challenging .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

@media (min-width: 37.5em){

    .change-is-challenging .image-container {
        max-width: 22.4375em;
        margin-top: 2em;
        margin-bottom: 3em;
    }

}

@media (min-width: 60em) {

    .change-is-challenging .content-container {
        padding: 3em;
    }
    
    .change-is-challenging .content-container {
        display: flex;
        gap: 3em;
    }

    .change-is-challenging .text-container h2 {
        font-size: 2.5em;
    }

    .change-is-challenging .image-container {
        width: 15em;
    } 

}

@media (min-width: 70em) {

    .change-is-challenging .content-container {
        padding: 4em;
    }
    
    .change-is-challenging .content-container {
        display: flex;
        gap: 4em;
    }

    .change-is-challenging .image-container {
        width: 18em;
    } 

}

/* Managing Change */
.managing-change {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.managing-change .image-container {
    max-width: 19.75em;
    margin: 0.75em auto 1em;
}

.managing-change .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

@media (min-width: 37.5em){

    .managing-change .image-container {
        max-width: 22.4375em;
    }

}

@media (min-width: 60em) {

    .managing-change .content-container {
        padding: 0 3em 3em;
    }
    
    .managing-change .content-container {
        display: flex;
        gap: 3em;
    }

    .managing-change .text-container h2 {
        font-size: 2.5em;
    }

    .managing-change .row-01 {
        order: 1;
    }

    .managing-change .image-container {
        width: 18em;
    } 

}

@media (min-width: 64em) {

    .managing-change .content-container {
        padding: 0 4em 4em;
    }
    
    .managing-change .content-container {
        display: flex;
        gap: 4em;
    }

    .managing-change .image-container {
        width: 25em;
    } 

}

/* Interested */
.interested {
    background-color: var(--orange);
    color: var(--white);
    padding-bottom: 3em;
}

.interested .image-container {
    padding: 1em 8.75em 0;
    margin-bottom: 1.25em;
}

.interested .text-container {
    margin-bottom: 2em;
}

.interested .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.interested .call-to-action {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    background-color: var(--blue-dark);
    padding: 0.7em 2em;
    border-radius: 0.5em;
}

@media (min-width: 37.5em){

    .interested .image-container {
        width: 14.125em;
        padding: 0;
        margin: 1.5em auto;
    }

}

@media (min-width: 60em) {

    .interested .content-container {
        padding: 2em 2em 0;
    }
    
    .interested .content-container {
        display: flex;
        align-items: center;
        gap: 3em;
    }

    .interested .text-container h2 {
        font-size: 2.5em;
    }

}

@media (min-width: 64em) {

    .interested .content-container {
        padding: 4em 8em 0;
    }

}

@media (min-width: 70em) {

    .interested .content-container {
        padding: 4em 12em 0;
    }

}

/* Pre-Conditions */
.pre-conditions {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.pre-conditions .pre-conditions-header {
    margin-bottom: 2em;
}

.pre-conditions .introduction {
    margin-bottom: 2em;
}

.pre-conditions .instructions {
    background-color: var(--green);
    color: var(--white);
    padding: 1em 2em;
    display: inline-block;
    margin-bottom: 2em;
}

.pre-conditions .instructions p {
    line-height: 1;
    margin: 0;
}

.pre-conditions summary {
    font-size: 2em;
    cursor: pointer;
    margin-bottom: 1em;
}

.pre-conditions .dropdown-content {
    margin-bottom: 2em;
}

/* .pre-conditions .content-container .pre-conditions-header {
    order: -2;
}

.pre-conditions .content-container .col-02 {
    order: -1;
} */

.pre-conditions .content-container .col-01 .image-container {
    margin-bottom: 0;
}

.pre-conditions .content-container .col-02 {
    margin-top: 1em;
}

.pre-conditions .content-container .col-03 {
    margin-top: 2em;
}

/* .pre-conditions .content-container .col-04 {
    margin-top: 2em;
} */

.pre-conditions .content-container .col-06 {
    margin-top: 2em;
}

.pre-conditions .content-container .col-07 {
    margin-top: 2em;
}

.pre-conditions .content-container .col-09 {
    margin-top: 2em;
}

/* .pre-conditions .content-container .col-07 {
    margin-top: 2em;
} */

.pre-conditions .content-container .col-05 li {
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.pre-conditions .content-container .col-06 li {
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.pre-conditions .content-container .col-08 li {
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.pre-conditions .content-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0;
}

.pre-conditions .content-container .tiny-sub-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 1.35em;
    color: var(--orange);
}

.pre-conditions .content-container .mega-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    text-transform: uppercase;
    color: var(--blue-medium);
    margin-bottom: 0.15em;
}

.pre-conditions .content-container h3 {
    font-weight: 400;
}

.pre-conditions .content-container h3 span {
    font-size: 1.2em;
}

.pre-conditions .content-container .image-container {
    /* margin-top: 7.8em; */
    max-width: 19em;
    margin: 0 auto 2em;
}

.pre-conditions .content-container ol li {
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.pre-conditions .stakeholder-table-container h3 {
    margin-top: 1.3em;
}

.pre-conditions .stakeholder-table-container table {
    border-collapse: collapse;
    width: 100%;
}

.pre-conditions .stakeholder-table-container table td,
.pre-conditions .stakeholder-table-container table th {
    border: 1px solid var(--blue-dark);
}

.pre-conditions .stakeholder-table-container table td {
    vertical-align: top;
}

.pre-conditions .organizational-readiness .col-01 {
    margin-bottom: 2em;
}

.pre-conditions .buy-in .image-container {
    max-width: initial;
}

.pre-conditions .evaluation li {
    margin-bottom: 1em;
    line-height: 1.4;
}

.pre-conditions .privacy .col-01 {
    margin-bottom: 2em;
}

.pre-conditions .privacy li {
    margin-bottom: 1em;
    line-height: 1.4;
}

.pre-conditions .privacy .image-container {
    max-width: 20em;
}

@media (min-width: 37.5em){

    .pre-conditions .content-container {
        padding: 3em;
        gap: 2em;
    }



}

@media (min-width: 60em) {
    
    .pre-conditions .organizational-readiness .dropdown-content,
    .pre-conditions .privacy .dropdown-content {
        display: flex;
        gap: 2em;
    }

    .pre-conditions .organizational-readiness .col-02,
    .pre-conditions .privacy .dropdown-content .col-02 {
        flex: 0 0 17em;
    }

}

@media (min-width: 64em) {

    .pre-conditions .content-container {
        padding: 4em 8em;
    }

}

@media (min-width: 70em) {

    .pre-conditions .content-container {
        padding: 4em 12em;
    }

}

/* Change Model */
.change-model {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.change-model .content-container h2 {
    font-weight: 400;
    font-size: 1.8em;
}

.change-model .content-container .image-container {
    max-width: 10.125em;
    margin: 0 auto 0.8em;
} 

.change-model .content-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.change-model .content-container .change-model-sub-heading {
    margin-top: 1.5em;
}

.change-model .content-container .stages {
    margin-top: 3em;
    text-align: center;
}


.change-model .content-container .stage-number {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 2em;
}

@media (min-width: 40em) {
    .stages {
        display: flex;
        gap: 3em;
        justify-content: center;
    }
}

@media (min-width: 50em) {

    .change-model .content-container {
        padding-bottom: 3em;
    }

    .stages {
        display: flex;
        gap: 3.5em;
        justify-content: center;
    }

    .change-model .content-container .image-container {
        max-width: 12em;
    }

}

@media (min-width: 60em) {

    .change-model .content-container {
        padding-top: 2em;
        padding-bottom: 5em;
        padding-left: 8em;
        padding-right: 8em;
    }

    .change-model .content-container h2 {
        font-size: 2.5em;
    }

    .change-model .content-container h3 {
        font-size: 1.8em;
    }

    .change-model .content-container .stage-number {
        font-size: 1.4em;
    }

    .stages {
        display: flex;
        gap: 5em;
        justify-content: center;
    }

    .change-model .content-container .image-container {
        max-width: 15em;
    }

}

/* Unfreeze */
.unfreeze {
    background-color: var(--orange);
    color: var(--white);
    padding: 3em 0;
}

.unfreeze .image-container {
    padding: 0 7.75em;
}

.unfreeze .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

@media (min-width: 37.5em){

    .unfreeze .image-container {
        width: 14.125em;
        padding: 0;
        margin: 1.5em auto;
    }

}

@media (min-width: 60em) {

    .unfreeze .content-container {
        padding: 4em;
    }
    
    .unfreeze .content-container {
        display: flex;
        align-items: center;
        gap: 3em;
    }

    .unfreeze .text-container h2 {
        font-size: 2.5em;
    }

    .unfreeze .image-container {
        width: 20em;
    }

}

@media (min-width: 64em) {

    .unfreeze .content-container {
        padding: 6em 8em;
    }

}

@media (min-width: 70em) {

    .unfreeze .content-container {
        padding: 6em 12em;
    }

}

/* Change */
.change {
    background-color: var(--orange);
    color: var(--white);
    padding: 3em 0;
}

.change .image-container {
    padding: 0 7.75em;
}

.change .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.change .row-02 {
    margin-bottom: 2em;
}

.change .info-boxes-container {
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 0.4em;
}

.change .info-boxes-container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.change .info-box {
    background-color: var(--black);
    color: var(--white);
    padding: 1em;
    border-radius: 0.2em;
    line-height: 1.4;
}

.change .info-box-01 {
    background-color: var(--change-green);
}

.change .info-box-02 {
    background-color: var(--blue-dark);
}

.change .info-box-03 {
    background-color: var(--change-pink);
}

.change .info-box-04 {
    background-color: var(--change-brown);
}

.change .info-box-05 {
    background-color: var(--change-blue-light);
}

.change .info-box-06 {
    background-color: var(--change-burgundy);
}

.change .info-boxes-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

@media (min-width: 37.5em){

    .change .image-container {
        width: 14.125em;
        padding: 0;
        margin: 0 auto;
    }

    .change .info-boxes-container ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 60em) {

    .change .content-container {
        padding: 4em;
    }
    
    .change .content-container {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        align-items: center;
        gap: 3em;
    }

    .change .text-container h2 {
        font-size: 2.5em;
    }

    .change .content-container .row-01 {
        grid-column: 2;
    }

    .change .content-container .row-02 {
        grid-column: 1;
        grid-row: 1;

    }

    .change .content-container .row-03 {
        grid-column: 1 / 3;
    }

    .change .info-boxes-container ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .change .image-container {
        width: auto;
    }

}

@media (min-width: 64em) {

    .change .content-container {
        padding: 6em 8em;
    }

}

@media (min-width: 70em) {

    .change .content-container {
        padding: 6em 12em;
    }

}

/* Training */
.training {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.training .container {
    padding-bottom: 0;
}

.training .text-container h2,
.training .h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.training .h2 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.training .row-02 .image-container {
    padding: 2em 3em 3em;
}

.training .row-03 .h2 {
    margin-bottom: 0;
}

@media (min-width: 37.5em){

    .training .image-container {
        width: auto;
        padding: 2em 0 0;
        /* margin: 5em auto 0; */
    }

    .training .image-container img {
        margin: 0 auto;
        display: block;
    }

}

@media (min-width: 60em) {

    .training .content-container {
        padding: 4em 4em 0;
    }
    
    .training .content-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }

    .training .text-container h2 {
        font-size: 2.5em;
    }

    .training .content-container .row-02,
    .training .content-container .row-03 {
        width: 18.75em;
    }

    .training .row-02 .image-container {
        padding: 0;
    }

}

@media (min-width: 64em) {

    .training .content-container {
        padding: 6em 8em 0;
    }

    .training .content-container .row-02,
    .training .content-container .row-03 {
        width: 22.75em;
    }

}

@media (min-width: 70em) {

    .training .content-container {
        padding: 6em 12em 0;
    }

    .training .content-container .row-02,
    .training .content-container .row-03 {
        width: 26em;
    }

}

/* Arrow */

.arrow.blue {
    background-color: var(--blue-light);
}

.arrow .container {
    padding: 3em 0;
}

.arrow .image-container {
    margin: 2em 0 0;
}

.arrow .image-container img {
    width: 5em;
    display: block;
    margin: 0 auto;
}

/* Stakeholders */
.stakeholders {
    background-color: var(--blue-light);
    color: var(--blue-dark);
    padding-bottom: 3em;
}

.stakeholders .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.stakeholders .image-container {
    padding: 2em 3em;
}

@media (min-width: 37.5em){

    .stakeholders .image-container {
        width: auto;
        padding: 0;
        margin: 3em auto;
    }

    .stakeholders .image-container img {
        display: block;
        margin: 0 auto;
    }

}

@media (min-width: 60em) {

    .stakeholders .content-container {
        padding: 4em;
    }
    
    .stakeholders .content-container {
        display: flex;
        align-items: center;
        gap: 4em;
    }

    .stakeholders .text-container h2 {
        font-size: 2.5em;
    }

    .stakeholders .image-container {
        width: 20em;
    }

}

@media (min-width: 64em) {

    .stakeholders .content-container {
        padding: 6em 8em;
    }

}

@media (min-width: 70em) {

    .stakeholders .content-container {
        padding: 6em 12em;
    }

}

/* Adkar */
.adkar {
    background-color: var(--blue-light);
    color: var(--black);
}

.adkar .container {
    padding-bottom: 2em;
}

.adkar .text-container {
    color: var(--blue-dark);
    text-align: center;
}

.adkar .text-container h2 {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 0;
}

.adkar .text-container h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.7;
    margin-bottom: 1.75em;
}

.adkar .infographic-container h4 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
}

.adkar .infographic-container .image-container {
    margin-bottom: 1em;
}

.adkar .infographic-container h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.adkar .infographic-container ul {
    margin-bottom: 1.5em;
}

.adkar .infographic-container li {
    line-height: 1.5;
}

.adkar .infographic-container .zone {
    color: var(--white);
    padding: 0.5em 0;
}

.adkar .infographic-container .enablement {
    background-color: var(--aqua);
    margin-bottom: 3em;
}

.adkar .infographic-container .engagement {
    background-color: var(--green);
    margin-bottom: 3em;
}

.adkar .infographic-container .step-container:last-child .engagement {
    margin-bottom: 0;
}

.adkar .infographic-container .zone-title {
    font-weight: 400;
    margin: 0;
}

.adkar .infographic-container .step-container {
    text-align: center;
    max-width: 20em;
    margin: 0 auto;
}

.adkar .infographic-container .step-container ul {
    text-align: left;
}

@media (min-width: 64em) {
    .adkar .infographic-container {
        display: flex;
        gap: 2em;
        padding: 0 2em 3em;
    }

    .adkar .infographic-container .step-container {
        display: flex;
        flex-direction: column;
    }

    .adkar .infographic-container .step-container ul {
        flex: 1;
    }

    .adkar .infographic-container .enablement, 
    .adkar .infographic-container .engagement {
        margin-bottom: 0;
    }

}

/* udl */
.udl {
    background-color: var(--blue-light);
    color: var(--black);
    padding-bottom: 3em;
}

.udl .text-container {
    color: var(--blue-dark);
    text-align: center;
}

.udl .text-container h2 {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 0.3em;
}

.udl .text-container h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.7;
    margin-bottom: 1.75em;
}

.udl .infographic-container {
    /* padding: 3em; */
    display: flex;
    gap: 3em;
    flex-direction: column;
    align-items: center;
}

.udl .infographic-container h3,
.udl .infographic-container h4,
.udl .infographic-container p {
    font-family: 'Roboto', sans-serif;
}

.udl .infographic-container h3 {
    font-size: 2em;
    margin-bottom: 0.1em;
    font-weight: 400;
}

.udl .infographic-container h4 {
    font-size: 1.5em;
    margin-bottom: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
}

.udl .infographic-container p {
    font-size: 1.1em;
}

.udl .infographic-container .heading {
    text-align: center;
    margin-bottom: 1.3em;
}

.udl .infographic-container .brain {
    margin-bottom: 1.7em;
}

.udl .infographic-container .brain img {
    display: block;
    margin: 0 auto;
}

.udl .infographic-container .key-point {
    background-color: var(--grey-light);
    border: 2px solid #808080;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
}

.udl .key-point .image-container {
    flex: 0 0 auto;
}

.udl .key-point p {
    margin: 0;
}

.udl .description {
    margin-bottom: 1.5em;
}

.udl .infographic-section {
    border: 3px solid var(--black);
    padding: 2em;
    max-width: 22.5em;
    border-radius: 1em;   
}

.udl .affective {
    border: 3px solid var(--udl-green);
}

.udl .affective h3,
.udl .affective span {
    color: var(--udl-green);
}

.udl .recognition {
    border: 3px solid var(--udl-purple);
}

.udl .recognition h3,
.udl .recognition span {
    color: var(--udl-purple);
}

.udl .strategic {
    border: 3px solid var(--udl-blue);
}

.udl .strategic h3,
.udl .strategic span {
    color: var(--udl-blue);
}

@media (min-width: 64em) {
    .udl .infographic-container {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .udl .infographic-section {
        flex: 0 0 18em;  
    }
}

/* @media (min-width: 64em) {
    .udl .infographic-container {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .udl .infographic-section {
        flex: 0 0 20em;  
    }
} */

@media (min-width: 76em) {

    .udl {
        padding-bottom: 4em;
    }


    .udl .infographic-container {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .udl .infographic-container h3 {
        font-size: 1.8em;
    }

    .udl .infographic-section {
        max-width: initial;
        flex: 0 0 22em;  
    }

}

@media (min-width: 85em) {
    .udl .infographic-container {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .udl .infographic-container h3 {
        font-size: 1.8em;
    }

    .udl .infographic-section {
        max-width: initial;
        flex: 0 0 23.75em;  
    }

}

/* Why ADKAR and UDL */
.why-adkar-udl {
    background-color: var(--blue-light);
}

.why-adkar-udl {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.why-adkar-udl .container {
    padding-bottom: 0;
}

.why-adkar-udl .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.why-adkar-udl .text-container li {
    line-height: 1.4;
    margin-bottom: 0.8em;
}

@media (min-width: 60em) {
    .why-adkar-udl .content-container {
        padding: 0 4em 8em;
    }
}

@media (min-width: 70em) {
    .why-adkar-udl .content-container {
        padding: 6em 12em 8em;
    }
}

/* Freeze */
.freeze {
    background-color: var(--orange);
    color: var(--white);
}

.freeze .image-container {
    margin: -1.5em -1.5em 0;
    position: relative;
    transform: scaleX(-1);
    margin-bottom: 1.5em;
}

.freeze .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.freeze .text-container li {
    margin-bottom: 0.8em;
    line-height: 1.4;
}

@media (min-width: 37.5em) {

    .freeze .image-container img {
        width: 100%;
    }

}

@media (min-width: 45em) {

    .freeze .container {
        padding: 0 4em 4em 0;
        overflow: hidden;
    }
    
    .freeze .content-container {
        display: flex;
        gap: 2em;
    }

    .freeze .content-container .row-01 {
        flex: 0 0 25em;
    }

    .freeze .image-container {
        margin: 0;
        transform: initial;
    }

    .freeze .image-container img {
        transform: rotate(-20deg) scale(1.2) translateX(-2em);
    }

    .freeze .content-container .row-02 {
        margin-top: 4em;
    }

}

@media (min-width: 60em) {

    .freeze .text-container h2 {
        font-size: 2.5em;
    }

}

@media (min-width: 70em) {

    .freeze .content-container {
        padding: 0 2em 4em 0;
    }

    .freeze .content-container {
        display: flex;
        gap: 6em;
    }

    .freeze .image-container img {
        transform: rotate(-10deg) translateY(-1.5em) scale(1.1);
    }

    .freeze .content-container .row-01 {
        flex: 0 0 35em;
    }

    .freeze .content-container .row-02 {
        margin-top: 10em;
    }

}

/* Evaluation */
.evaluation {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.evaluation .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.evaluation .image-container {
    padding: 2em 3em 0;
}

@media (min-width: 37.5em){

    .evaluation .image-container {
        width: auto;
        padding: 0;
        margin: 3em auto;
    }

    .evaluation .image-container img {
        display: block;
        margin: 0 auto;
    }

}

@media (min-width: 60em) {

    .evaluation .content-container {
        padding: 4em 4em 0;
    }
    
    .evaluation .content-container {
        display: flex;
        align-items: center;
        gap: 4em;
    }

    .evaluation .text-container h2 {
        font-size: 2.5em;
    }

    .evaluation .image-container {
        width: 20em;
    }

}

@media (min-width: 64em) {

    .evaluation .content-container {
        padding: 6em 8em 0;
    }

}

@media (min-width: 70em) {

    .evaluation .content-container {
        padding: 6em 12em 0;
    }

}

/* Metrics */
.metrics {
    background-color: var(--blue-light);
    color: var(--blue-dark);
    padding-bottom: 4em;
}

.metrics .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

@media (min-width: 60em) {

    .metrics .container {
        padding: 6.5em;
    }

    .metrics .text-container h2 {
        font-size: 2.5em;
    }

}

@media (min-width: 64em) {

    .metrics .container {
        padding: 6em 9.5em;
    }

}

@media (min-width: 70em) {

    .metrics .container {
        padding: 6em 13.5em;
    }

}

/* References */
.references {
    background-color: var(--orange);
    color: var(--white);
}

.references .container {
    max-width: 70em;
}

.references .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
    text-align: center;
}

.references .reference-list-container {
    background-color: var(--white);
    color: var(--black);
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 1.5em; 
}

.references .reference-list-container ul {
    list-style-type: none;
    margin: 0;
}

.references .reference-list-container li {
    text-indent: -2.5em;
    line-height: 1.4;
    margin-bottom: 1.5em;
}

.references .reference-list-container li:last-child {
    margin-bottom: 0;
}

.references .reference-list-container a {
    color: var(--black);
    overflow-wrap: break-word;
}

@media (min-width: 60em) {

    .references .container {
        max-width: 75em;
        padding: 6em;
    }

    .references .text-container h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .references .reference-list-container {
        padding: 2em 3em;
    }

}

@media (min-width: 64em) {

    .references .container {
        padding: 8em;
    }

}

@media (min-width: 70em) {

    .references .container {
        padding: 9.5em;
    }

}

/* Credits */
.credits {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.credits .content-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.credits .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    text-align: center;
}

.credits .content-container li {
    line-height: 1.7;
}

.credits .image-container {
    width: 8em;
}

.credits .content-container a {
    color: var(--blue-dark);
}

@media (min-width: 30em) {
    .credits .content-container {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 60em) {

    .credits .container {
        padding: 6em;
    }

    .credits .text-container h2 {
        font-size: 2.5em;
    }

    .credits .content-container h3 {
        font-size: 1.6em;
    }

    .credits .image-container {
        width: 15em;
    }

}

@media (min-width: 64em) {

    .credits .container {
        padding: 8em;
    }

}

@media (min-width: 70em) {

    .credits .container {
        padding: 9.5em;
    }

}

/* Good */
.good {
    background-color: black;
}

.good .container {
    padding: 0;
}

/* Footer */
footer {
    background-color: black;
    color: white;
}

footer .content-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

@media (min-width: 60em) {
    footer .content-container {
        font-size: 1em;
    }
}

/* Overlay */
.overlay {
    background-color: var(--black);
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    top: var(--header-height);
    left: 0;
    display: none;
}

.show-menu .overlay {
    display: block;
}

@media (min-width: 85.375em) {
    .show-menu .overlay {
        display: none;
    }
}

/* Utility class */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.padding-0 {
    padding: 0;
}