/* Styles go here */



.container-sm {
    max-width: 62.5em;
}


.mw-container .navbar-toggler {
    color: white;
    border-color: white;
    margin-left: auto;
}

.mw-container {
    padding: 0;
}

.mw-container header {
    min-height: 3.875em;
}

.mw-container header h1 {
    font-size: 2em;
    margin: 0.25em 0 0 0;
}

.mw-container .navbar {
    align-items: flex-end;
    min-width: 9.375em;
    text-align: right;
}

.mw-container .navbar-nav .dropdown-menu {
    position: absolute;
}

.mw-container .dropdown-menu[data-bs-popper] {
    left: initial;
    right: 0;
}

.mw-container.banner {
    text-align: right;
}

.mw-container.banner .alert {
    border-radius: 0;
}

.featured-image img {
    width: 100%;
}