/* Reset */
html {
    box-sizing: border-box;
    min-height: 100%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

p {
    line-height: 1.4;
}

/* Fonts */

/*  

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* Variables */
:root {
    --blue-dark: #275c96;
    --blue-medium: #3971cb;
    --blue-light: #e1efff;
    --orange: #f66b1d;
    --white: #ffffff;
    --black: #484b4e;
    --aqua: #03aadf;
    --green: #6cbf59;
    --header-height: 4.349375em;
}

/* Container Styles */
.container {
    max-width: 85.375em;
    margin: 0 auto;
    padding: 1.5em;
}

/* Header */
header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--white);
}

header h1 {
    margin: 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    /* border: 3px solid red; */
}

/* Hamburger */
.hamburger {
    position: relative;
    top: 0.25em;
}


/* Nav */
.bottom-header {
    background-color: var(--white);
    top: var(--header-height);
    height: 100%;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    position: fixed;
    z-index: 9999;
    transition: transform 0.3s ease;
}

.show-menu .bottom-header {
    transform: translate(17%);
    transition-duration: 0.3s;
}

.bottom-header.no-transition {
    transition-duration: 0s;
}

.bottom-header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-header nav a {
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    display: block;
    line-height: 2.3em;
    padding: 0 1.25em 0 1.25em;
}

.bottom-header nav a:focus,
.bottom-header nav a:hover,
.bottom-header nav a:active {
    background-color: rgba(0, 0, 0, 0.035);
}

@media (min-width: 85.375em) {

    header .container {
        position: relative;
        z-index: 9999;
    }

    .bottom-header {
        background-color: var(--white);
        top: var(--header-height);
        height: 0;
        left: initial;
        right: 0;
        width: 15em;
        transform: initial;
        position: absolute;
        z-index: 9999;
        transition: height 0.3s ease;
        overflow: hidden;
        text-align: right;
    }

    .show-menu .bottom-header {
        transform: initial;
        height: 38em;
    }
    

}

/* Intro section */
.intro {
    background-color: var(--blue-light);
    color: var(--blue-dark);
    margin-top: var(--header-height);
}

.intro .container {
    padding-top: 1.25em;
}

.intro .heading-container {
    margin-bottom: 2.5em;
}

.intro .mega-heading {
    font-size: 7em;
    margin: 0;
    line-height: 1;
}

.intro h2 {
    font-weight: 500;
    font-size: 1.7em;
    margin-left: 0.5em;
    margin: 0.25em 0 0 0.5em;
}

.intro .image-container {
    padding: 0 6em;
}

@media (min-width: 37.5em){

    .intro .mega-heading {
        font-size: 9em;
    }
    
    .intro h2 {
        font-size: 2.3em;
    }

    .intro .image-container {
        padding: 0;
        width: 22.4375em;
        margin: 0 auto;
    }
}

@media (min-width: 60em){

    .intro .content-container {
        display: flex;
        gap: 3em;
        padding: 4em 2em;
        justify-content: center;
    }

    .intro .mega-heading {
        font-size: 7em;
    }
    
    .intro h2 {
        font-size: 1.7em;
    }

    .intro .image-container {
        padding: 0 1em;
        width: initial;
        margin: 0 auto;
    }
}

@media (min-width: 66.25em) {

    .intro .content-container {

        padding: 6em 2em;
        justify-content: center;
    }

    .intro .mega-heading {
        font-size: 9em;
    }
    
    .intro h2 {
        font-size: 2.3em;
    }

}

.apa-title {
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
}

.apa-title p {
    margin: 0;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.7;
}

.apa-title p:last-child {
    margin-bottom: 0;
}

@media (min-width: 60em) {
    
    .apa-title p {
        font-size: 1em;
    }

}

/* Change is Challenging */
.change-is-challenging {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.change-is-challenging .image-container {
    max-width: 18.75em;
    margin: 0.75em auto 1em;
}

.change-is-challenging .image-container img {
    display: block;
    margin: 0 auto;
}

.change-is-challenging .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

@media (min-width: 37.5em){

    .change-is-challenging .image-container {
        max-width: 22.4375em;
        margin-top: 2em;
        margin-bottom: 3em;
    }

}

@media (min-width: 60em) {

    .change-is-challenging .content-container {
        padding: 3em;
    }
    
    .change-is-challenging .content-container {
        display: flex;
        gap: 3em;
    }

    .change-is-challenging .image-container {
        width: 15em;
    } 

}

@media (min-width: 70em) {

    .change-is-challenging .content-container {
        padding: 4em;
    }
    
    .change-is-challenging .content-container {
        display: flex;
        gap: 4em;
    }

    .change-is-challenging .image-container {
        width: 18em;
    } 

}

/* Managing Change */
.managing-change {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.managing-change .image-container {
    max-width: 19.75em;
    margin: 0.75em auto 1em;
}

.managing-change .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

@media (min-width: 37.5em){

    .managing-change .image-container {
        max-width: 22.4375em;
    }

}

@media (min-width: 60em) {

    .managing-change .content-container {
        padding: 0 3em 3em;
    }
    
    .managing-change .content-container {
        display: flex;
        gap: 3em;
    }

    .managing-change .row-01 {
        order: 1;
    }

    .managing-change .image-container {
        width: 18em;
    } 

}

@media (min-width: 64em) {

    .managing-change .content-container {
        padding: 0 4em 4em;
    }
    
    .managing-change .content-container {
        display: flex;
        gap: 4em;
    }

    .managing-change .image-container {
        width: 25em;
    } 

}

/* Interested */
.interested {
    background-color: var(--orange);
    color: var(--white);
}

.interested .image-container {
    padding: 1em 8.75em 0;
    margin-bottom: 1.25em;
}

.interested .text-container {
    margin-bottom: 2em;
}

.interested .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.interested .call-to-action {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    background-color: var(--blue-dark);
    padding: 0.7em 2em;
    border-radius: 0.5em;
}

@media (min-width: 37.5em){

    .interested .image-container {
        width: 14.125em;
        padding: 0;
        margin: 1.5em auto;
    }

}

@media (min-width: 60em) {

    .interested .content-container {
        padding: 4em;
    }
    
    .interested .content-container {
        display: flex;
        align-items: center;
        gap: 3em;
    }

    /* .managing-change .image-container {
        width: 18em;
    }  */

}

@media (min-width: 64em) {

    .interested .content-container {
        padding: 4em 8em;
    }

}

@media (min-width: 70em) {

    .interested .content-container {
        padding: 4em 12em;
    }

}

/* Pre-Conditions */
.pre-conditions {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.pre-conditions .content-container {
    display: flex;
    gap: 1em;
}

.pre-conditions .content-container .col-02 {
    flex: 0 0 4.6875em;
}

.pre-conditions .content-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0;
}

.pre-conditions .content-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 1.35em;
    color: var(--orange);
}

.pre-conditions .content-container .mega-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    text-transform: uppercase;
    color: var(--blue-medium);
    margin-bottom: 0.15em;
}

.pre-conditions .content-container .image-container {
    margin-top: 7.8em;
}

.change-model {
    background-color: var(--blue-light);
    text-align: center;
    color: var(--blue-dark);
}

.change-model .content-container h2 {
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 2em;
}

.change-model .content-container .image-container {
    max-width: 162px;
    margin: 0 auto 0.8em;
} 

.change-model .content-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.change-model .content-container .stage-number {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 2em;
}

/* Unfreeze */
.unfreeze {
    background-color: var(--orange);
    color: var(--white);
}

.unfreeze .image-container {
    padding: 0 7.75em;
}

.unfreeze .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

/* Change */
.change {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.change .image-container {
    padding: 0 7.75em;
}

.change .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

/* Planning */
.training {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.training .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.training .image-container {
    padding: 2em 3em;
}

/* Stakeholders */
.stakeholders {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.stakeholders .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.stakeholders .image-container {
    padding: 2em 3em;
}

/* Adkar */
.adkar {
    background-color: var(--blue-light);
    color: var(--black);
}

.adkar .text-container {
    color: var(--blue-dark);
    text-align: center;
}

.adkar .text-container h2 {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 0;
}

.adkar .text-container h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.7;
    margin-bottom: 1.75em;
}

.adkar .infographic-container h4 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
}

.adkar .infographic-container .image-container {
    margin-bottom: 1em;
}

.adkar .infographic-container h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.adkar .infographic-container ul {
    margin-bottom: 1.5em;
}

.adkar .infographic-container li {
    line-height: 1.5;
}

.adkar .infographic-container .zone {
    color: var(--white);
    padding: 0.5em 0;
    margin-bottom: 3em;
}

.adkar .infographic-container .enablement {
    background-color: var(--aqua);
}

.adkar .infographic-container .engagement {
    background-color: var(--green);
}

.adkar .infographic-container .zone-title {
    font-weight: 400;
    margin: 0;
}

.adkar .infographic-container .step-container {
    text-align: center;
    max-width: 20em;
    margin: 0 auto;
}

.adkar .infographic-container .step-container ul {
    text-align: left;
}

/* Freeze */
.freeze {
    background-color: var(--orange);
    color: var(--white);
}

.freeze .image-container {
    margin: -1.5em -1.5em 0;
    position: relative;
    transform: scaleX(-1);
    margin-bottom: 1.5em;
}

.freeze .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

/* Evaluation */
.evaluation {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.evaluation .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

.evaluation .image-container {
    padding: 2em 3em 0;
}

/* Metrics */
.metrics {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.metrics .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
}

/* References */
.references {
    background-color: var(--orange);
    color: var(--white);
}

.references .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-bottom: 0.6em;
    text-align: center;
}

.references .reference-list-container {
    background-color: var(--white);
    color: var(--black);
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 1.5em; 
}

.references .reference-list-container ul {
    list-style-type: none;
    margin: 0;
}

.references .reference-list-container li {
    text-indent: -2.5em;
    line-height: 1.4;
    margin-bottom: 1.5em;
}

.references .reference-list-container li:last-child {
    margin-bottom: 0;
}

.references .reference-list-container a {
    color: var(--black);
    overflow-wrap: break-word;
}

/* Credits */
.credits {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.credits .content-container {
    display: flex;
    gap: 1em;
}

.credits .text-container h2 {
    font-weight: 400;
    font-size: 2.1em;
    text-align: center;
}

/* .credits .content-container ul {
    padding: 0;
    list-style-position: inside;
} */

.credits .content-container li {
    line-height: 1.7;
}

.credits .content-container a {
    color: var(--blue-dark);
}

.good {
    background-color: black;
}

.good .container {
    padding: 0;
}

/* Footer */
footer {
    background-color: black;
    color: white;
}

footer .content-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

/* Overlay */
.overlay {
    background-color: var(--black);
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: var(--header-height);
    left: 0;
    display: none;
}

.show-menu .overlay {
    display: block;
}

@media (min-width: 85.375em) {
    .show-menu .overlay {
        display: none;
    }
}

/* Utility class */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.padding-0 {
    padding: 0;
}